// Colores
$fondo:radial-gradient(circle at 100% 0%, #6a391f 0, #61301f 10%, #56271d 20%, #471d19 30%, #361313 40%, #250606 50%, #150000 60%, #000000 70%, #000000 80%, #000000 90%, #000000 100%);
$fondo3:linear-gradient(240deg, #1a2f2e 0, #162523 16.67%, #101816 33.33%, #000000 50%, #000000 66.67%, #000000 83.33%, #000000 100%);

$coloruno:black;
$colordos:rgb(255, 255, 255);
$colortres:rgb(255, 0, 0);
$colorcuatro:rgb(99, 14, 14);
$colorcinco:rgb(5, 5, 5);
$colro2:rgba(207, 0, 0, 0.76);


// Medidas de @Media
$media-uno:750px;
$media-dos:950px;